@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&family=Teko:wght@400;700&display=swap');

body {
    font-family: 'Oxygen', sans-serif;
    margin: 0rem  10rem;
}

.logo{
  padding-top: 0.2rem;
  height: 500px;
  width: 700px;
}

ul {
  list-style-type: none;
}
.home{
  display: flex;
  flex-direction: row;
}
.sidebar{
  width: 20%;          
  overflow-x: hidden;
  overflow-y: scroll;
  text-align:center;
  color:blue;
}
.active{
  background-color:yellow;
}

.details{
width: 80%;
margin: 2rem;
}
ul{
  padding-left: 0rem;
}
li{
  padding-left: 1rem;
  margin-left: 1rem;
}

.pokemon-image{
  margin: 2rem;
  padding: 3rem;
  border-radius: 1rem;
  border:0.1rem outset lightblue;
  background-color:aliceblue
}

